<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TWILIO_ACCOUNT_SID" value="" />
        <add key="TWILIO_AUTH_TOKEN" value="" />
        <add key="TWILIO_PHONE_NUMBER" value="" />
        <add key="PHONE_NUMBER" value="" />
    </appSettings>
</configuration>